body{
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    gap: 32px;
}

.header, .random-information, .quote-container, .footer {
    padding: 0 200px;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links-list ul{
    display: flex;
    font-size: 18px;
    color: #f9faf8;
}

.header-2 {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 100px 0;
}

.header-2 h1 {
    font-size: 48px;
    font-weight: 950;
    margin-bottom: 0;
}

.header-2 p {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.header-2 button {
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.h2-left-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.h2-right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e6586;
    flex-grow: 1;
    width: 100%;
}

.random-information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 950;
    color: #1f2937;
}

.ri-subsections ul { 
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.ri-subsections li {
    width: 200px;
    text-align: center;
}

.ri-image-container {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: #3882f6 3px solid;
    margin-bottom: 10px;
}

.quote-container {
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 15px;
    margin: 50px 200px;
    padding: 50px 200px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cta-button button{
    border: solid 2px white;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 5px 25px;

}

.footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}